Agente_Vendedor_WA_JPizza.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "JSON Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "WhatsApp Business Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Audio": {
      "main": [
        [
          {
            "node": "HTTP Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Download Audio": {
      "main": [
        [
          {
            "node": "Convert Audio to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Audio to Text": {
      "main": [
        [
          {
            "node": "format Response 1.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format Response 1.1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push messages Buffer": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages Buffer": {
      "main": [
        [
          {
            "node": "Switch Espera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Messages Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Espera": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Messages Buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parse": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp_Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Messages Buffer": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool_pedidos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get TG Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push messages Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TG Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Get Messages Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-25T21:28:18.531Z",
  "description": null,
  "id": "Uz6UyybbLJqDPaTnO3WX1",
  "isArchived": false,
  "meta": null,
  "name": "Agente_Vendedor_WA_JPizza",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=The user sent the following message\nmessage_date: {{ $json.message_timestamp }}\nmessage_name: {{ $json.contact_name }}\nmessage_type: {{ $json.message_type }}\nmessage_from: {{ $json.message_from }}\nmessage_text or description:\n```{{ $json.message_text }}```\n\nif ($('Get TG Message').isExecuted) { it means Junior is sending an order update trought Telegram Trigger so have a chat with the customer \"message_from\" , and send it the message_state.\nSend the order's update using the tool Tool_pedidos\nthis state and id message are just only for Tool_pedidos\nmessage_state: {{ $json.message_state ? `${$json.message_state}` : 'processing'}}\nmessage_id: {{ $json.message_id }} }",
        "options": {
          "systemMessage": "=if ($('Get TG Message').isExecuted) { it means Junior is sending an order update trought Telegram Trigger so have a chat with the customer \"message_from\" , and send it the message_state.\nSend the order's update using the tool Tool_pedidos\nthis state and id message are just only for Tool_pedidos\nmessage_state: {{ $json.message_state ? `${$json.message_state}` : 'processing'}}\nmessage_id: {{ $json.message_id }} }\n\nYou are Pizzaiolo, a friendly, efficient, bilingual (English and Spanish) WhatsApp assistant for JUNIOR'S Artisan Pizza. Your primary role is to handle customer orders and inquiries. Always interact with the customer whose contact name is provided as contact_name.\nRestaurant Information (JUNIOR'S)\n\n    Specialty: Artisan Pizza\n    Pizza Size: All pizzas are a single 14-inch large, crispy crust (cut into 8 slices). Emphasize this when asked about sizes.\n    Operating Hours: Monday to Saturday, usually opening around 3:00–4:30 PM, closing around 8:00 PM (exact times may vary). Closed on Sundays. If asked about today's hours: \"Junior's usually opens around 4:00 PM, but it's always good to confirm for today. We're closed on Sundays.\"\n    Location: Coconut Tree Plaza, West End, ROATAN\n    Order Method: Orders are placed via WhatsApp chat for pickup\n    Automated Welcome Message: Customers may receive an automated message with details; your responses follow that context. There's no need to repeat it.\n    Drinks: Soda and Water are listed, but availability can vary. When a customer orders drinks, confirm with: \"Sure, a [drink]. Just to let you know, drink availability can sometimes change, but I'll add it to your order. Junior will confirm when you pick it up.\"\n\nMenu (Prices in USD)\n\nPizzas (all 14-inch):\n\n    🍕 1. Margherita – $21 Mozzarella, homemade sauce, fresh diced tomatoes\n    🍍 2. Hawaiana – $22 Ham and pineapple\n    🍕 3. Pepperoni – $22 Pepperoni with garlic oil\n    🌶️ 4. Meat Lover & Jalapeños – $25 Sausage, pepperoni, ham, jalapeños\n    🥗 5. Veggie Lovers – $22 Mushrooms, red onions, tomatoes, green peppers, black olives\n    🥓 6. Supreme – $27 All meats and all vegetables\n    🍕 7. Pepperoni, Mushrooms & Red Onions – $23\n    🍕 8. Sausage, Mushrooms & Red Onions – $23\n\nAdd-Ons:\n\n    9. Extra Meat (Sausage, Pepperoni, Ham) – $3 per meat type added\n    10. Extra Veggies (Mushrooms, Onions, Tomatoes, Green P., Olives) – $2 per veggie type\n\nDrinks:\n\n    11. Soda – $2\n    12. Water – $2\n\nCustomizations & Notes\n\n    Adding toppings: For a base pizza, you can add meats for $3 each or veggies for $2 each.\n    Half & Half: If a customer wants 1/2 of one pizza and 1/2 of another, confirm and price based on the more expensive half or a custom combined price.\n    Special requests: such as \"extra garlic oil\" or \"extra cheese,\" confirm and price based on Extra Veggies Add-on.\n\nYour Tasks & Response Guidelines:\n\n1. Greeting & Initial Interaction:\n\n    \"Hi contact_name! I'm Pizzaiolo, your assistant for JUNIOR'S Artisan Pizza. How can I help with your order today?\"\n    If the customer just says \"hello\" or asks if you're open, confirm you can take their order (if within hours) and ask what they'd like to order.\n\n2. Menu Inquiries:\n\n    If asked \"What pizzas do you have?\" or \"Can I see the menu?\", respond: \"Sure, contact_name! All our artisan pizzas are 14 inches. Here's what we offer:\"\n        List the main pizzas and mention customizable toppings and add-ons.\n        Emphasize: \"You can add extra meats for $3 or extra veggies for $2 to any pizza. What sounds good?\"\n\n3. Taking Orders:\n\n    Carefully listen to what the customer wants, including size, toppings, and customizations.\n    Clarify ambiguous requests (e.g., \"Is that a Margherita with extra green peppers?\")\n    Calculate the total price by summing base pizza prices plus any add-ons.\n    Confirm details: \"Just to confirm, contact_name, you want [quantity] pizza(s): [list of pizzas with customizations], totaling $[amount]. Is that correct?\"\n    Once the customer confirms, log the Confirmed details into the system and send it for processing with timestamp via Tool_pedidos.\n\n4. Order Status Inquiries:\n\n    If asked \"Is my order ready?\" or \"What's the status?\", reply: \"Hi contact_name, you ordered [quantity] [pizza types] today, on [date]. Your estimated pickup time was around [time]. Junior is working on it! You can come to pick it up when it's ready.\"\n    Check the order status with Tool_pedidos and inform accordingly.\n    If delayed, send a gentle reminder or ask for a status update from Junior.\n\n5. Handling Issues & Miscellaneous Questions:\n\n    If the restaurant is unexpectedly closed, say: \"I'm sorry, contact_name, but Junior's is closed today. We'll be back tomorrow. Disculpa las molestias.\"\n    For questions about reservations or other non-menu requests, politely clarify: \"We mainly handle pickup orders. If you tell me how many pizzas and what time, I can pass it to Junior.\"\n    For requests not on the menu, note them for Junior to confirm if possible.\n\nAdditional Guidelines:\n\n    Always address the customer by contact_name.\n    Be friendly, polite, and concise.\n    Clearly confirm orders and customizations before finalizing.\n    If unsure about any detail, note it and let Junior confirm later.\n    Assume orders are for pickup unless otherwise specified.\n    End interactions positively with thanks or friendly wishes.\n    if you get a message from 50496855073, it is junior`s whatsapp, just for Operating Hours and extra time to get the pizzas ready. \n\nTechnical Details:\nif ( $('Get TG Message').isExecuted) { it means Junior is sending an order's update trought Telegram Trigger so have a chat with the customer \"message_from\" , and send it the message_state. }\n\n    When sending the order to the tool Tool_pedidos, include:\n        chat history id,\n        message_from,\n        message_state,\n        Order details, including contact_name, unit price and Total price,\n        Timestamp.\n\n    Use the calculator tool to compute totals when needed."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2880,
        1008
      ],
      "id": "9696b610-6d9c-4bba-8cdd-c8d1fb42804e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {
          "topP": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2784,
        1232
      ],
      "id": "280eaf1c-d7d1-47c7-9448-81ca66656e4c",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "656321360897564",
        "recipientPhoneNumber": "={{ $('Get TG Message').isExecuted ? $('Get TG Message').item.json.message_from :  $('Get User Message').item.json.message_from }}\n",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3344,
        1008
      ],
      "id": "54b2479c-c593-4dd2-b878-2de002c2d537",
      "name": "WhatsApp Business Cloud",
      "webhookId": "bc925d7f-f314-4499-84f3-7f8e08665eed"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ JSON.parse($json.message_from) }}",
        "tableName": "historial_conversaciones_JuniorsPizza",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2912,
        1232
      ],
      "id": "338b12a5-51ef-44e3-8f3b-36fb3d22a012",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Message",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        944
      ],
      "id": "72771b6a-44e1-4032-990c-3596f208c1a3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25af255d-2f8a-4242-b021-800f9da53ee8",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "63084834-85f9-4996-8619-6eaae1b3d879"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b2b3e29a-54e3-4b49-9ca2-a775630397b1",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12f36a6b-c457-4ecd-b9c9-b641f7d7628d",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        864,
        928
      ],
      "id": "84a657fa-d800-41bf-a6ee-02d205fbe509",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1152,
        704
      ],
      "id": "b4a275d9-9a82-455e-a80c-50f137437cf7",
      "name": "WhatsApp Business Audio",
      "webhookId": "24916061-27de-4138-8515-4179f667781d"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        528
      ],
      "id": "5f37b4a6-de16-499f-9035-71dc3e04e051",
      "name": "HTTP Download Audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-thinking-exp-01-21:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{\n{\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Transcribe this audio\"},\n        {\"inlineData\" : {\n          \"mimeType\": 'audio/${$binary.data.fileExtension}',\n          \"data\": $input.item.binary.data.data }\n        }\n      ]\n  }]\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        528
      ],
      "id": "0728a686-1db7-430e-830f-c1ddc2536e90",
      "name": "Convert Audio to Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4cf6fac-b47f-4577-be0b-f6174ad53ee8",
              "name": "TheMessage",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "14f06f92-2fbc-48e3-82c0-bd4e2b1e63db",
              "name": "timestamp",
              "value": "={{ $('Switch').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        752
      ],
      "id": "5174c873-a7a8-42c4-8b43-dae576af7432",
      "name": "format Response 1.1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.contacts[0].wa_id }}_buffer",
        "messageData": "={{ ($json.messages).toJsonString() }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -528,
        944
      ],
      "id": "7f63ba5f-8c88-45a6-881d-ae9c6d180f6c",
      "name": "Push messages Buffer",
      "credentials": {
        "redis": {
          "id": "CvFqHDmrYLpE7yN3",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Message",
        "key": "={{ $json.contacts.wa_id }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -176,
        944
      ],
      "id": "d6dc06ea-1037-4664-9b75-f31cdf023500",
      "name": "Get Messages Buffer",
      "credentials": {
        "redis": {
          "id": "CvFqHDmrYLpE7yN3",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1aa42921-54f2-41bb-95b5-ba1b6d060030",
              "name": "metadata.phone_number_id",
              "value": "={{ $json.metadata.phone_number_id }}",
              "type": "string"
            },
            {
              "id": "63ade6a4-e18b-4ed4-b05b-2131d6516cd6",
              "name": "contact.contact_name",
              "value": "={{ $json.contacts[0].profile.name }}",
              "type": "string"
            },
            {
              "id": "23b3f795-6820-473a-a5a3-8e5ee21830ab",
              "name": "contact.wa_id",
              "value": "={{ $json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "5a126c26-6a1a-4f60-bb5a-d1dfe7fa8cc2",
              "name": "messages.wa_id",
              "value": "={{ $json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "436d0d7e-112e-4ea0-afbd-857b08d81371",
              "name": "messages.timestamp",
              "value": "={{ $json.messages[0].timestamp }}",
              "type": "string"
            },
            {
              "id": "11441df4-e737-4d54-8dd1-270c24c8d7b1",
              "name": "messages.content",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "29a8ea5f-3de6-4aa4-9bae-0fc23babd614",
              "name": "messages.type",
              "value": "={{ $json.messages[0].type }}",
              "type": "string"
            },
            {
              "id": "c40bafad-a962-4716-b7cb-c6ac792eee2e",
              "name": "field",
              "value": "={{ $json.field }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "8a8affa1-6814-4293-8f27-21adec991f62",
      "name": "DatosNormalizados",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        1152
      ],
      "id": "7fa9f7b3-7e15-44e8-a769-ad44e33ea58d",
      "name": "Wait",
      "webhookId": "6480703c-4e2a-4df0-9cdf-602ba70dee2d"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        144,
        624
      ],
      "id": "96488c8c-7279-4305-a253-c3a16c99ea0b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp_Trigger').item.json.contacts[0].wa_id }}",
                    "rightValue": "={{ $('Push messages Buffer').item.json.contacts[0].wa_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "fd5ab47e-750f-40b5-af50-e7db1f1ff4ba"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No hacer nada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "569f605f-3bfc-42d5-9156-d9514a6292a6",
                    "leftValue": "={{ DateTime.fromMillis(Number($('Split Out1').item.json.messages.timestamp))}}",
                    "rightValue": "={{ DateTime.fromMillis($now.minus(5,'seconds').toSeconds())}}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Seguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        16,
        928
      ],
      "id": "48973c04-f33c-44b6-a3c9-4a200de0122a",
      "name": "Switch Espera"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Split Out1').item.json.messages }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        944
      ],
      "id": "8ee32e4c-3374-4957-af64-e420050ff507",
      "name": "JSON Parse"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1904,
        912
      ],
      "id": "41c48102-f48c-4e1b-a04a-45f34b864755",
      "name": "Merge"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2128,
        912
      ],
      "id": "a152da85-d294-42a3-951e-add2a2e7a0a8",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "TheMessage",
              "renameField": true,
              "outputFieldName": "messages"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2352,
        912
      ],
      "id": "5ff59516-9642-417b-b8e0-848c284668ac",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1024,
        832
      ],
      "id": "dda32658-dcd1-4baa-a37d-af2bf635f3ef",
      "name": "WhatsApp_Trigger",
      "webhookId": "d663c0d0-2510-4b41-ac6d-ced6fb1c67f5"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Split Out1').item.json.contacts.wa_id }}_buffer"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        208,
        944
      ],
      "id": "5d15cc22-7636-4d2e-8a6b-bec2c90e11d2",
      "name": "Delete Messages Buffer",
      "credentials": {
        "redis": {
          "id": "CvFqHDmrYLpE7yN3",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "description": "=Use this tool to send the confirmed Order, sending, the message_from, the state, the Order with customer_name, prices and the Total Price as a Total, the message´s order id and the timestamp.\nuse this tool to ask Junior for the Order status, he will give you a response about the status\nThe order update is coming from Telegram\n",
        "workflowId": {
          "__rl": true,
          "value": "UBHDFmKr3YsALRmn",
          "mode": "list",
          "cachedResultName": "Agente_Pedidos_TG_JPizza"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message_timestamp": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message_timestamp', ``, 'number') }}",
            "message_text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message_text', ``, 'string') }}",
            "message_from": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message_from', ``, 'string') }}",
            "message_state": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message_state', ``, 'string') }}",
            "message_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message_id', ``, 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_from",
              "displayName": "message_from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_timestamp",
              "displayName": "message_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "message_state",
              "displayName": "message_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3024,
        1232
      ],
      "id": "2a0bedd8-554b-4e55-933e-d427e9974f94",
      "name": "Tool_pedidos"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        3152,
        1232
      ],
      "id": "4c0b4a88-f00a-423a-8596-7f2955727934",
      "name": "Calculator"
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        2352,
        1104
      ],
      "id": "2fa889a9-ed22-4112-b4d8-697d600c721a",
      "name": "Telegram Trigger",
      "webhookId": "b3711ea3-802d-445e-9c66-9c7bbb24849e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c40f9e5-0092-4f8d-b894-fbe88c07f012",
              "name": "message_type",
              "value": "={{ \"text\" }}",
              "type": "string"
            },
            {
              "id": "495f02f7-36ef-4394-8b8a-409cdc13a119",
              "name": "message_text",
              "value": "={{ $json.callback_query.message.text }}",
              "type": "string"
            },
            {
              "id": "54949ec5-a1dc-4674-be56-ce888b946f8f",
              "name": "message_from",
              "value": "={{ $json.callback_query.data.split(\"\\n\")[1].split(\":\")[1]}}",
              "type": "string"
            },
            {
              "id": "c170f06d-cd61-4fac-a26f-58b5f4cf1c43",
              "name": "message_caption",
              "value": "={{\"\"}}",
              "type": "string"
            },
            {
              "id": "5b913e66-d8e1-4740-aec0-db5e19864451",
              "name": "message_timestamp",
              "value": "={{ $json.callback_query.data.split(\"\\n\")[0].split(\":\")[1]}}",
              "type": "string"
            },
            {
              "id": "15eba086-56c2-454c-b9f7-11818b2f2026",
              "name": "contact_name",
              "value": "={{ $json.callback_query.message.text.split(\":\")[0] }}",
              "type": "string"
            },
            {
              "id": "5c54cabc-16e5-4242-996a-2ff2dfb5beea",
              "name": "message_state",
              "value": "={{ $json.callback_query.data.split(\"\\n\")[2].split(\":\")[1]}}",
              "type": "string"
            },
            {
              "id": "a69a831d-3fee-4fd9-80e2-3fbacbc70d2e",
              "name": "message_id",
              "value": "={{ $json.callback_query.message.message_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        1104
      ],
      "id": "dd1b8e96-7302-4bdb-b30a-141169fd49d3",
      "name": "Get TG Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b01abfb1-7f74-4a82-aa1a-4d0017c4255a",
              "leftValue": "={{ $json.statuses[0] }}",
              "rightValue": "service",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        832
      ],
      "id": "7bb72492-b10f-4820-847f-6d92a1dd1471",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1344,
        1072
      ],
      "id": "cef03537-2b30-48e9-9dc3-2d31f88e91d1",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "contacts, messages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -368,
        944
      ],
      "id": "2c0a08ac-adcc-4b2b-b450-a2eff7c368af",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c40f9e5-0092-4f8d-b894-fbe88c07f012",
              "name": "message_type",
              "value": "={{ $('Switch').item.json.type }}",
              "type": "string"
            },
            {
              "id": "495f02f7-36ef-4394-8b8a-409cdc13a119",
              "name": "message_text",
              "value": "={{ $json.messages.join(\"\\n\") }}",
              "type": "string"
            },
            {
              "id": "54949ec5-a1dc-4674-be56-ce888b946f8f",
              "name": "message_from",
              "value": "={{ $('Switch').item.json.from }}",
              "type": "string"
            },
            {
              "id": "5b913e66-d8e1-4740-aec0-db5e19864451",
              "name": "message_timestamp",
              "value": "={{ $('Switch').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "15eba086-56c2-454c-b9f7-11818b2f2026",
              "name": "contact_name",
              "value": "={{ $('Split Out1').item.json.contacts.profile.name }}",
              "type": "string"
            },
            {
              "id": "b8318c2b-7a49-485b-993e-7f19c4875d63",
              "name": "message_id",
              "value": "={{ $('Switch').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        912
      ],
      "id": "bf8cec22-35fd-49c8-92f1-b2406ee7739a",
      "name": "Get User Message"
    }
  ],
  "pinData": {
    "WhatsApp_Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "50433603889",
            "phone_number_id": "656321360897564"
          },
          "contacts": [
            {
              "profile": {
                "name": "ANDRES MORA"
              },
              "wa_id": "573106632496"
            }
          ],
          "messages": [
            {
              "from": "573106632496",
              "id": "wamid.HBgMNTczMTA2NjMyNDk2FQIAEhggMEM1QzdDREM4QTlEQjU3MDdFMTQ5RkQyRDIyQTg1OEQA",
              "timestamp": "1748641486",
              "type": "audio",
              "audio": {
                "mime_type": "audio/ogg; codecs=opus",
                "sha256": "wW9hMwFo+V2EkctOF82woNAAahrW1BKxQJvU53TLIf8=",
                "id": "1027195569613575",
                "voice": true
              }
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-25T21:28:18.539Z",
      "createdAt": "2026-02-25T21:28:18.539Z",
      "role": "workflow:owner",
      "workflowId": "Uz6UyybbLJqDPaTnO3WX1",
      "projectId": "AVuKN0Pu5SOZWWZM",
      "project": {
        "updatedAt": "2026-01-27T14:25:58.744Z",
        "createdAt": "2026-01-27T14:18:51.606Z",
        "id": "AVuKN0Pu5SOZWWZM",
        "name": "Andres Mora <anlemoca.pm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "821cb9a6-847f-4a99-9210-9205406262df"
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-02-23T16:22:05.461Z",
      "createdAt": "2026-02-23T16:22:05.461Z",
      "id": "7AfWuWm5QbvZfKTB",
      "name": "Ventas Digital"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-26T02:06:57.397Z",
  "versionCounter": 6,
  "versionId": "f6b13297-2b24-4732-8669-2e143b47eec0"
}