Multi-Agent Architecture Free Bootstrap Template for Beginners.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "CEO Agent": {
      "main": [
        [
          {
            "node": "Configure metadata ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "CEO Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Agent": {
      "ai_tool": [
        [
          {
            "node": "CEO Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Agent": {
      "ai_tool": [
        [
          {
            "node": "CEO Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Operations Agent": {
      "ai_tool": [
        [
          {
            "node": "CEO Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CEO Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Marketing Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Operations Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Finance Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Configure metadata ": {
      "main": [
        [
          {
            "node": "Create document file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create document file": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-23T17:04:07.712Z",
  "description": null,
  "id": "qAIMRdcrYOUiwTptCmaly",
  "isArchived": false,
  "meta": null,
  "name": "Multi-Agent Architecture Free Bootstrap Template for Beginners",
  "nodes": [
    {
      "parameters": {},
      "id": "19a77b61-677f-4554-95c7-a47fa225c5ac",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        1248,
        976
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Company: {{ $json.Company }}\nProducts/Focus: {{ $json.Product }}\nTarget customers: {{ $json.Audience }}\nSale window: {{ $json['Sale window'] }}\nPrimary channels: {{ $json['Primary channels'] }}\nSuccess metrics: {{ $json['Success metrics'] }}\n\nCreate a practical plan for the upcoming sales season. Keep to the structure and JSON schema in the system prompt.",
        "options": {
          "systemMessage": "You are the CEO orchestrating three tool agents (departments) to produce a concise sales-season plan.\n\nTOOLS AVAILABLE\n1) MarketingDept – campaign ideas, channels, content calendar.\n2) OpsDept – inventory & staffing readiness, fulfillment steps, key risks.\n3) FinanceDept – pricing/discounts, budget split, targets.\n\nWORKFLOW\n- Read the user brief.\n- Call each tool once with only the info they need.\n- Merge their outputs into a single, consistent plan.\n- Resolve conflicts briefly (prefer feasibility over ambition).\n- Keep it action-oriented and short.\n\nFINAL OUTPUT (markdown sections)\n# Summary\n# Timeline (key dates)\n# Marketing Plan (top 3 campaigns, channels)\n# Operations Readiness (inventory, staffing, fulfillment)\n# Pricing & Budget (discounts, budget split, targets)\n# Risks & Mitigations\n# Next 5 Actions"
        }
      },
      "id": "34a843f4-39a1-42fe-aca5-698aa1d9f50e",
      "name": "CEO Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1984,
        976
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "255311de-f5ec-4bc8-8a06-47bfbf4127c2",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1696,
        1200
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0237546-a7a6-4f52-b4c9-078f7ef6879f",
              "name": "Company",
              "type": "string",
              "value": "AutomateWithMe"
            },
            {
              "id": "e6fbc3e4-d59e-4ed3-9eac-553d2662bdec",
              "name": "Product",
              "type": "string",
              "value": "Automation Services"
            },
            {
              "id": "bc72c647-c2d9-462f-95da-c3889ca30d20",
              "name": "Sale window",
              "type": "string",
              "value": "Aug to December annually"
            },
            {
              "id": "663cc17d-b979-4b3c-99c9-d82f4ccdb03b",
              "name": "Primary channels",
              "type": "string",
              "value": "Amazon, Ebay"
            },
            {
              "id": "bb9172a7-38e3-4dfb-a181-991257f1d454",
              "name": "Success metrics",
              "type": "string",
              "value": "Revenue"
            },
            {
              "id": "65f42033-edef-4046-9d91-25107d52c81d",
              "name": "Audience",
              "type": "string",
              "value": "SME's owner (CEO, CFO, CIO)"
            }
          ]
        },
        "options": {}
      },
      "id": "e87aaab1-cec4-4472-a9f6-bec8be695d44",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1472,
        976
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "11f3cd7d-a2ae-49b3-8ac9-efbafaf734bf",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1920,
        1408
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "23af150c-bfee-4f03-ad67-24800537192e",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2240,
        1408
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "toolDescription": "You are the Marketing Department. From the brief, propose practical campaigns.\n\nOUTPUT (JSON):\n{\n  \"campaigns\":[\n    {\"name\":\"\",\"channel\":\"\",\"audience\":\"\",\"message\":\"\",\"kpi\":\"\"}\n  ],\n  \"content_calendar\":[\n    {\"date\":\"YYYY-MM-DD\",\"channel\":\"\",\"asset\":\"\",\"cta\":\"\"}\n  ],\n  \"notes\":\"\"\n}\n\nRULES\n- Max 3 campaigns, each tied to 1–2 channels.\n- KPIs: choose 1 per campaign (e.g., CTR, leads, revenue).\n- Be realistic with the given constraints and dates.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "id": "37d05223-dc06-4dda-ab58-a53620b734c8",
      "name": "Marketing Agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        1824,
        1200
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "toolDescription": "You are Operations. Assess readiness and outline what must happen to deliver.\n\nOUTPUT (JSON):\n{\n  \"inventory_note\":\"\",\n  \"staffing_plan\":[{\"team\":\"\",\"need\":\"\",\"when\":\"\"}],\n  \"fulfillment_steps\":[{\"step\":\"\",\"owner\":\"\",\"due\":\"\"}],\n  \"operational_risks\":[{\"risk\":\"\",\"mitigation\":\"\"}]\n}\n\nRULES\n- Keep it feasible: call out shortages or bottlenecks.\n- Prefer simple, sequenced steps with clear owners and due dates.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "id": "0ba9aaf1-119a-414d-a80a-43c50babec9f",
      "name": "Operations Agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        2144,
        1200
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "toolDescription": "You are Finance. Recommend discounts, budget split, and targets.\n\nOUTPUT (JSON):\n{\n  \"discounts\":[{\"product\":\"\",\"type\":\"% or fixed\",\"value\":0,\"notes\":\"\"}],\n  \"budget_split\":{\"marketing\":0,\"ops\":0,\"contingency\":0},\n  \"targets\":{\"revenue\":0,\"roi\":0,\"gross_margin_pct\":0},\n  \"notes\":\"\"\n}\n\nRULES\n- Keep totals sensible and within constraints.\n- Tie discounts to campaigns and inventory realities.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "id": "7df4d946-97e0-4644-8950-920598d89282",
      "name": "Finance Agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        2464,
        1200
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "ff40cf9e-c2c3-4d74-9486-b51b1325bf64",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2560,
        1408
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart&supportsAllDrives=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "uploadType",
              "value": "multipart"
            },
            {
              "name": "supportsAllDrives",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "boundary",
              "value": "foo_bar_baz"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "multipart/related; boundary=foo_bar_baz",
        "body": "=--foo_bar_baz\nContent-Type: application/json; charset=UTF-8\n\n{\n  \"name\": \"Company Sale Plan {{ $today.format('yyyy-MM-dd-hhmm') }}\",\n  \"mimeType\": \"application/vnd.google-apps.document\",\n  \"parents\": [\"{{ $json['Drive Folder ID'] }}\"]\n}\n\n--foo_bar_baz\nContent-Type: text/markdown; charset=UTF-8\n\n{{ $json['Document Content'] }}\n--foo_bar_baz--",
        "options": {}
      },
      "id": "df485201-d03d-4a84-b18f-ca4308b508e0",
      "name": "Create document file",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3088,
        976
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ff0b9a4-7d60-44ec-b047-e49252f1ace9",
              "name": "Drive Folder ID",
              "type": "string",
              "value": "1IPcko8bzogO3W4mxhrW2Q017QA0Lc5MI"
            },
            {
              "id": "75ab39ab-44d0-4272-bceb-fe63bd72a5ba",
              "name": "Document Content",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1ef80195-e34b-4b5e-a465-a42651dd79ab",
      "name": "Configure metadata ",
      "type": "n8n-nodes-base.set",
      "position": [
        2864,
        976
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "options": {
          "channelId": "C097VAKKPUP",
          "initialComment": "📄 The Sales Season Plan is ready!  Please find the generated PDF file attached for review and next steps.  "
        }
      },
      "id": "7708ee57-68ef-4918-8176-d2d45c37a4ba",
      "name": "Upload a file",
      "type": "n8n-nodes-base.slack",
      "position": [
        3536,
        976
      ],
      "webhookId": "b4d5b0ca-b166-4000-abf8-df943fe711ae",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "dff6dd93-3120-44e5-90ba-1ec912cde3ca",
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3312,
        976
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "# Multi-Agent Architecture Free Bootstrap Template for Beginners\n[![Watch the video](https://wisestackai.s3.ap-southeast-1.amazonaws.com/n8n-multi-agent-architecture-free-bootstrap-template-for-beginners.jpg)](https://www.youtube.com/watch?v=BfMY2jFJR9k)\n\n_Free template to learn and reuse a multi-agent architecture in n8n. The company metaphor: a **CEO (orchestrator)** delegates to **Marketing, Operations, Finance** to produce a short sales-season plan, export it to PDF, and share it._\n\n## **Who’s it for**\n- Builders who want a **clear, minimal pattern** for multi-agent orchestration in n8n.  \n- Teams demoing/teaching agent collaboration with **one coordinator + three specialists**.  \n- Anyone needing a **repeatable template** to generate plans from multiple “departments”.\n\n## **How it works / What it does**\n1. **Trigger (Manual)** — Click *Execute workflow* to start.\n2. **Edit Fields** — Provide brief inputs (company, products, dates, constraints, channels, goals).\n3. **CEO Agent (Orchestrator)** — Reads the brief, calls 3 tool agents once, merges results, resolves conflicts.\n4. **Marketing Agent** — Proposes top campaigns + channels + content calendar.\n5. **Operations Agent** — Outlines inventory/staffing readiness, fulfillment steps, risks.\n6. **Finance Agent** — Suggests pricing/discounts, budget split, targets.\n7. **Compose Document** — CEO produces Markdown; node converts to Google Doc → **PDF**.\n8. **Share** — Upload the PDF to Slack (or Drive) for review.\n\n**Outputs**\n- **Markdown plan** with sections (Summary, Timeline, Marketing, Ops, Pricing, Risks, Next Actions).  \n- **Compact JSON** for automation (campaigns, budget, dates, actions).  \n- **PDF** file for stakeholders.\n\n## **How to set up**\n1. **Add credentials**\n   - OpenAI (or your LLM provider) for all agents.\n   - Google (Drive/Docs) to create the document and export PDF.\n   - Slack (optional) to upload/share the PDF.\n2. **Map nodes (suggested)**\n   - **When clicking ‘Execute workflow’** → **Edit Fields** (form with: `company`, `products`, `audience`, `start_date`, `end_date`, `channels`, `constraints`, `metrics`).\n   - **CEO Agent** (AI Tool Node) → calls **Marketing Agent**, **Operations Agent**, **Finance Agent** (AI Tool Nodes).\n   - **Configure metadata** (doc title from company + window).\n   - **Create document file** (Google Docs API) with CEO Markdown.\n   - **Convert to PDF** (export).\n   - **Upload a file** (Slack) to share.\n3. **Prompts (drop-in)**\n   - **CEO (system)**: orchestrate 3 tools; request concise JSON+Markdown; merge & resolve; output sections + JSON.\n   - **Marketing / Operations / Finance (system)**: each returns a small JSON per its scope (campaigns/calendar; staffing/steps/risks; discounts/budget/targets).\n4. **Test** — Run once; verify the PDF and Slack message.\n\n## **Requirements**\n- n8n (current version with **AI Tool Node**).  \n- LLM credentials (e.g., OpenAI).  \n- Google credentials for Docs/Drive (to create & export).  \n- Optional Slack bot token for file uploads.\n\n## **How to customize the workflow**\n- **Swap roles**: Replace departments (e.g., Product, Legal, Support) or add more tool agents.\n- **Change outputs**: Export to **DOCX/HTML/Notion**; add a cover page; attach brand styles.\n- **Approval step**: Insert **Slack “Send & Wait”** before PDF generation for review/edits.\n- **Data grounding**: Add RAG (Sheets/DB/Docs) so agents cite inventory, pricing, or past campaign KPIs.\n- **Automation JSON**: Extend the schema to match your CRM/PM tool and push `next_actions` into Jira/Asana.\n- **Scheduling**: Replace manual trigger with a **cron** (weekly/monthly planning).\n- **Localization**: Add a Translation agent or set language via input field.\n- **Guardrails**: Add length limits, cost caps (max tokens), and validation on agent JSON.",
        "height": 2032,
        "width": 1072
      },
      "id": "95f1f185-f0d2-423a-97fb-b179f4e05a79",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 1) Start the run (Manual Trigger)\n**Node:** *When clicking ‘Execute workflow’*  \n**What happens:** You kick off a single-run demo. Manual start keeps the flow predictable while you learn.  \n**Why it matters:** Lets you iterate on prompts/fields quickly before adding a schedule or webhook.",
        "height": 208,
        "width": 272
      },
      "id": "ecccd2fc-00fa-4ca3-b240-0287ad5f09c0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 2) Collect the brief (Edit Fields)\n**Node:** *Edit Fields*  \n**Inputs to capture (examples):**\n- `company`, `products`, `audience`\n- `start_date`, `end_date`\n- `channels` (e.g., “email, social, search”)\n- `constraints` (budget cap, stock limits, compliance)\n- `metrics` (revenue, ROI, CAC, leads)  \n**Tips:** validate dates and keep text short; agents will elaborate.",
        "height": 304,
        "width": 272
      },
      "id": "2c0cb10d-9057-4da2-af4f-071d79374674",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        1136
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 3) Orchestrate like a CEO (CEO Agent)\n**Node:** *AI Tool Node (CEO Agent)*  \n**Role:** Orchestrator. It reads the brief, assigns tasks to 3 department agents **once each**, then merges results.  \n**Key behavior to configure:**\n- Provide a **system prompt** that defines: goals, tools available, expected sections, JSON schema, and “call each tool exactly once”.  \n- Instruct it to **resolve conflicts** (e.g., finance budget vs. marketing ambition) by preferring feasibility.\n\n**Expected CEO outputs:**\n- **Markdown Plan** with sections: Summary, Timeline, Marketing, Ops, Pricing, Risks, Next Actions.  ",
        "height": 288,
        "width": 512
      },
      "id": "0d71b6e6-c96a-4909-a016-7ac401c9f87e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 4) Call Tool #1: Marketing Department\n**Node:** *AI Tool Node (Marketing Agent)*  \n**Input from CEO:** Slimmed brief + required fields (audience, channels, dates, constraints).  \n**Output (JSON):**\n```json\n{\n  \"campaigns\":[{\"name\":\"\",\"channel\":\"\",\"message\":\"\",\"kpi\":\"\"}],\n  \"content_calendar\":[{\"date\":\"YYYY-MM-DD\",\"channel\":\"\",\"asset\":\"\",\"cta\":\"\"}],\n  \"notes\":\"\"\n}\n```\n**What to teach learners:** Limit to 2–3 campaigns; pick 1 KPI per campaign; keep calendar realistic.",
        "height": 336,
        "width": 320,
        "color": 3
      },
      "id": "aedc6afe-f708-46fd-a828-f3a98622c07f",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        1552
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 5) Call Tool #2: Operations Department\n**Node:** *AI Tool Node (Operations Agent)*  \n**Input from CEO:** Products, window, constraints (inventory/staff).  \n**Output (JSON):**\n```json\n{\n  \"inventory_note\":\"\",\n  \"staffing_plan\":[{\"team\":\"\",\"need\":\"\",\"when\":\"\"}],\n  \"fulfillment_steps\":[{\"step\":\"\",\"owner\":\"\",\"due\":\"\"}],\n  \"operational_risks\":[{\"risk\":\"\",\"mitigation\":\"\"}]\n}\n```\n**Learning:** Prefer checklists with owners/due dates; call out bottlenecks early.",
        "height": 336,
        "width": 320,
        "color": 5
      },
      "id": "4606cb02-b035-4409-8796-5a12353d418e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2144,
        1552
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 6) Call Tool #3: Finance Department\n**Node:** *AI Tool Node (Finance Agent)*  \n**Input from CEO:** Campaign ideas + ops constraints.  \n**Output (JSON):**\n```json\n{\n  \"discounts\":[{\"product\":\"\",\"type\":\"%|fixed\",\"value\":0,\"notes\":\"\"}],\n  \"budget_split\":{\"marketing\":0,\"ops\":0,\"contingency\":0},\n  \"targets\":{\"revenue\":0,\"roi\":0,\"gross_margin_pct\":0},\n  \"notes\":\"\"\n}\n```\n**Learning:** Tie discounts to campaigns and stock positions; keep budget totals sensible.",
        "height": 336,
        "width": 320,
        "color": 4
      },
      "id": "bb367cda-1eda-4615-8baf-7cf4f29ee9b3",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2512,
        1552
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 7) Merge & reconcile (inside CEO Agent)\n**Node:** *CEO Agent continues*  \n**What happens:** CEO pulls the 3 JSONs, resolves conflicts (e.g., campaign count vs. budget), and produces:\n- Final **Markdown plan** (human-readable)  \n- Final **JSON payload** (machine-usable)  \n**Tip:** Ask CEO to output **both artifacts** in a single response under distinct keys (e.g., `plan_md`, `plan_json`).",
        "height": 272,
        "width": 448
      },
      "id": "da13078e-1f1b-4041-9f0a-740a9434edb9",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2144,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "#### Set document metadata (Configure metadata)\n**Node:** *Edit Fields / Set*  \n**What you set:** Document title, author, tags.  \n**Example title:** `{{ $json.plan_json.company }} — Sales Season Plan ({{ $json.plan_json.window.start }} → {{ $json.plan_json.window.end }})`  \n**Learning:** Keep naming deterministic for easy filing/search.\n\n#### Create the source document (Create document file)\n**Node:** *HTTP Request: Google Docs create* or n8n’s Google Docs node  \n**Input:** `plan_md` from CEO → convert Markdown → HTML (or use a Markdown-to-HTML helper) → write into a new Google Doc.  \n**Learning:** Markdown-in → Doc-out keeps content editable by humans.\n\n#### Export to PDF (Convert to PDF)\n**Node:** *HTTP Request: Google export* or Google Drive “download file”  \n**What happens:** The Doc is exported to PDF for sharing.  \n**Tip:** Save the PDF filename with the same deterministic title.",
        "height": 400,
        "width": 672
      },
      "id": "35a8c79a-3311-4313-866f-08fb6f9837e8",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2784,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 11) Share the artifact (Upload a file)\n**Node:** *Slack: upload file* (or Drive/Email)  \n**Message (example):**\n```\n📄 Sales Season Plan is ready\nCompany: {{ $json.plan_json.company }}\nWindow: {{ $json.plan_json.window.start }} → {{ $json.plan_json.window.end }}\nThe PDF is attached. Please review and add comments.\n```\n**Learning:** Always include context (company/window) in the post.",
        "height": 240,
        "width": 688
      },
      "id": "80694620-2ecd-41cb-9659-ea52b6c162d5",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3776,
        896
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-23T17:04:07.718Z",
      "createdAt": "2026-02-23T17:04:07.718Z",
      "role": "workflow:owner",
      "workflowId": "qAIMRdcrYOUiwTptCmaly",
      "projectId": "AVuKN0Pu5SOZWWZM",
      "project": {
        "updatedAt": "2026-01-27T14:25:58.744Z",
        "createdAt": "2026-01-27T14:18:51.606Z",
        "id": "AVuKN0Pu5SOZWWZM",
        "name": "Andres Mora <anlemoca.pm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "821cb9a6-847f-4a99-9210-9205406262df"
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-23T17:04:07.000Z",
  "versionCounter": 2,
  "versionId": "09efe451-f3a9-4e57-a194-8d967751690f"
}